// Main Sass File
$bg-color: #3aafa9;
$font-color: #fff;
$primary-color: #17252a;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size: 30px;

body {
  background: $bg-color;
  color: $font-color;
}

.navbar {
  border-bottom: $primary-color 3px solid;
}

.bg-company-navbar {
  background-color: $primary-color;
}

.card {
  background: $primary-color !important;
}

#home-section {
  background: url(../img/home.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 700px;

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner {
    padding-top: 150px;
  }

  .card-form {
    opacity: 0.8;
  }

  .fa {
    color: $primary-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#explore-section {
  .fa {
    color: #fff;
    background: $primary-color;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#create-section {
  .fa {
    color: $primary-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#create-head-section {
  background: $primary-color !important;
}

#share-head-section {
  background: #2b7a78 !important;
}

#share-section {
  .fa {
    color: #fff;
    background: $primary-color;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}